.banner-container {
	width: 1200px;
	height: 500px;
	overflow: hidden;
	position: relative;
}

.banner-body {
	transform: translateX(0);
	transition: transform .5s linear;
}

.slid-item {
	width: 1200px;
	height: 500px;
}

.slid-item img {
	width: 100%;
	height: 100%;
	border: 0;
}

.banner-footer {
	width: 100%;
	height: 30px;
	position: absolute;
    bottom: 20px;
}

.banner-footer span {
	display: inline-block;
    width: 12px;
    height: 20px;
    background: #aaa;
    border-radius: 3px;
    margin-left: 7px;
    cursor: pointer;
    transition: transform .5s linear;
}

.banner-footer span.active {
	height: 30px;
}







.product-item {
	float: left;
	width: 220px;
	height: 200px;
	margin-right: 25px;
	background: #fff;
	cursor: pointer;
}

.product-list .product-item:nth-child(6n) {
	margin-right: 0;
}

.product-item img {
	width: 100%;
	height: 150px;
	border: 0;
}

.product-item:hover {
	
}

.product-category {
	color: #333;
	font-size: 18px;
}