.category-modal {
	width: 900px;
	height: 85%;
	padding: 20px;
	border-radius: 5px;
}

.cr {color: red;}

.property-container:empty {
	height: 100px;
}

.property-modal {
	width: 1000px;
	height: 80%;
	padding: 20px;
	border-radius: 5px;
}

.form-control.is-must {
	right: 10px !important;
}

.must {
	position: absolute;
	right: 0;
	color: red;
}

.form-close {
	background: url(../../../resources/imgs/clear.png) no-repeat 0px 8px;
    position: absolute;
    width: 16px;
    right: 1px;
    cursor: pointer;
    top: 0;
    bottom: 0;
}