.category-modal {
	width: 950px;
	height: 85%;
	padding: 20px;
	border-radius: 5px;
}

.cr {color: red;}

.property-container:empty {
	height: 100px;
}

.property-modal {
	width: 1000px;
	height: 80%;
	padding: 20px;
	border-radius: 5px;
}

.right-10 {
	right: 10px !important;
}

.must {
	position: absolute;
	right: 0;
	color: red;
}