.nav-head {
	height: 60px;
	background: #00ffc4;
}

.wp100 {width: 100%;}

.main-body {
	min-width: 1345px;
}

.common-body {
	table-layout: auto !important;
}

.menu-container {
	width: 198px;
	min-height: 450px;
	border: 1px solid #ccc;
}

.menu p {
	line-height: 26px;
	padding-left: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #888;
}

.sub-menu {
	height: 0;
	overflow: hidden;
}

.sub-menu.active {
	height: auto;
}

.sub-menu p {
	padding-left: 30px;
}

.sub-menu p.active, .sub-menu p:hover {
	color: #111;
	font-weight: 600;
}

.content-container {
	border: 1px solid #ccc;
}

.content-body {
	width: 1140px;
	min-height: 550px;
	margin: auto;
}