.nav-head {
	height: 30px;
    background: rgba(150, 173, 168, 0.2);
}

.nav-container {
	margin: 6px 20px 0 0;
}

.nav-container > span:after {
	content: '|';
	margin-left: 5px;
	color: #888;
}

.nav-container > span:last-child:after {
	content: '';
}

.welcome-container {
	color: #0072ff;
}

.wp100 {width: 100%;}

.main-body {
	min-width: 1345px;
}

.common-body {
	table-layout: auto !important;
}

.menu-container {
	width: 198px;
	min-height: 450px;
	border: 1px solid #ccc;
}

.menu p {
	line-height: 26px;
	padding-left: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #888;
}

.sub-menu {
	height: 0;
	overflow: hidden;
}

.sub-menu.active {
	height: auto;
}

.sub-menu p {
	padding-left: 30px;
}

.sub-menu p.active, .sub-menu p:hover {
	color: #111;
	font-weight: 600;
}

.content-container {
	border: 1px solid #ccc;
}

.content-body {
	width: 1140px;
	min-height: 550px;
	margin: auto;
}

.content-loading {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    z-index: 9999;
}

.content-loading-body {
	height: 100%;
    background: url('../../../resources/imgs/loading.gif') no-repeat center center;
    background-size: 50px;
}