/* --------------------regist modal login modal---------------------- */
.regist-modal {
	width: 500px;
    height: 350px;
    padding: 50px 70px 30px;
    box-sizing: border-box;
}
.login-container {
	width: 500px;
	height: 300px;
	padding: 50px 70px 30px;
    box-sizing: border-box;
}
.btn-half {
	padding: 8px 18%;
}
/* --------------------regist modal login modal---------------------- */
.container {
	min-width: 1345px;
	height: 100%;
}

.nav-head {
	height: 30px;
    background: rgba(150, 173, 168, 0.2);
}

.nav-container {
	margin: 6px 20px 0 0;
}

.nav-container > span:after {
	content: '|';
	margin-left: 5px;
	color: #888;
}

.nav-container > span:last-child:after {
	content: '';
}

.welcome-container {
	color: #0072ff;
}

.common-body {
	table-layout: auto !important;
}

.menu-container {
	width: 198px;
	height: 100%;
	border: 1px solid #ccc;
	background: #37a7f2;
	text-align: left;
}

.menu > li {
	background: #37a7f2;
}

.menu p {
	line-height: 26px;
	padding-left: 20px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    color: #fff;
}

.sub-menu {
	height: 0;
	overflow: hidden;
}

.sub-menu.active {
	height: auto;
}

.sub-menu p {
	padding-left: 36px;
}

.sub-menu p.active, .sub-menu p:hover {
	color: #111;
}

.content-container {
	border: 1px solid #ccc;
}

.content-body {
	width: 1140px;
	min-height: 550px;
	margin: auto;
}

.content-loading {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .1);
    z-index: 9999;
}

.content-loading-body {
	height: 100%;
    background: url('../../../resources/imgs/loading.gif') no-repeat center center;
    background-size: 50px;
}