.lh36 {line-height: 36px;}

.product-list:empty {
	min-height: 100px;
}

.control-input {
	width: 200px;
    height: 26px;
    font-size: 14px;
    padding: 0 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin-left: 5px;
}

.product-modal {
	width: 80%;
	height: 80%;
	min-width: 900px;
	min-height: 520px;
	padding: 20px;
}

.product-modal .form-group > label {text-align: right;}

.product-modal .form-control, .property-modal .form-control {right: 10px;}

.base-property-container {
	border: 1px solid #eee;
}

.product-property-container {
	min-height: 100px;
	border: 1px solid #eee;
	padding: 10px 0;
}

.property-modal, .category-modal {
	width: 60%;
	height: 60%;
	min-width: 700px;
	min-height: 500px;
	padding: 20px;
}

.must {
	position: absolute;
	right: 0;
	color: red;
}

.property-list {min-height: 100px;}

.img-container {
	min-height: 100px;
	border: 1px solid #ccc;
	padding: 10px 0;
}

.img-add {
	width: 150px;
	height: 180px;
	border: 0;
	background: #ccc;
	position: relative;
}

.img-add:before, .img-add:after {
	content: '';
	width: 40px;
	height: 6px;
	border-radius: 3px;
	background: #888;
	position: absolute;
}
.img-add:before {
	
}