.category-container:empty {
	min-height: 100px;
}

.product-list:empty {
	min-height: 80px;
}

.category-modal, .product-modal {
	padding: 30px;
	width: 80%;
	height: 70%;
	min-width: 800px;
	min-height: 500px;
}

.select-product-list:empty {
	min-height: 350px;
}

.p-list .page-body-content-row {
	cursor: pointer;
}

.sort {
	width: 70px;
    height: 100%;
    border: 1px solid transparent;
    text-align: center;
    padding: 5px;
    background: transparent;
}

.sort:focus {
    border-color: #ccc;
}

.title {
	padding: 10px;
}