/* TextArea Record */
.textarea-record {
	position: relative;
	display: inline-block;
}

.length-container {
	position: absolute;
	right: 2px;
	bottom: 5px;
	color: #aaa;
	background-color: #fff;
}

.length-container .over-record .over-length {
	color: red;
}
/* TextArea Record */