body {
	background: #f9f9f9;
}

* {
	box-sizing: border-box;
}

.header {
	height: 30px;
	background: #ddd;
}

.w1200 {
	width: 1200px;
	margin: auto;
}

.mt6 {margin-top: 6px;}

.option-container > span:after {
	content: '|';
	margin-left: 5px;
	color: #888;
}

.option-container > span:last-child:after {
	content: '';
}

.head-nav {
	height: 80px;
    width: 1200px;
    margin: 15px auto;
}

.welcome-container {
	color: #0072ff;
}

.logo {
	width: 160px;
	height: 100%;
	border: 0;
}

/* --------------------regist modal、login modal---------------------- */
.regist-modal {
	width: 500px;
    height: 350px;
    padding: 50px 70px 30px;
}
.login-container {
	width: 500px;
	height: 300px;
	padding: 50px 70px 30px;
}
.btn-half {
	padding: 8px 18%;
}
/* --------------------regist modal、login modal---------------------- */

.footer {
	height: 100px;
	background: #ddd;
}